* {
    margin: 0px;
    padding: 0px;
}

.header {
    border-radius: 16px;
    width: 1320px;
    height: 600px;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Banner\ Image.png');
    background-repeat: no-repeat;
    margin: 50px auto;
    text-align: center;
}

.banner-greeting {
    color: #FFF;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    /* margin-top: 180px; */
    margin-bottom: 5px;
    padding-top: 180px;
}

.banner-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

.sale-title {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 20px;
}

.sale-description1 {
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

.sale-description2 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: 1px;
}

.sale-pic {
    width: 802.9px;
    height: 500px;
    text-align: center;
    margin: 0px 399px;
}

.party {
    border-radius: 16px;
    width: 1320px;
    height: 600px;
    text-align: center;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    margin: 50px auto;
    display: flex;
    gap: 10px;
}

.party-description1 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    width: 642px;
    text-align: left;
    margin-bottom: 25px;
    margin-left: 126px;
    padding-top: 126px;
}

.party-description2 {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    width: 697px;
    margin-bottom: 40px;
    text-align: left;
    margin-left: 126px;
}

.party-description3 {
    color: #FFF;
    text-align: left;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin-left: 126px;
}

.place {
    width: 1320px;
    height: 482px;
    border-radius: 16px;
    background: linear-gradient(to bottom, rgba(255, 0, 0, 0.10), rgba(255, 0, 0, 0.00));
    margin: 50px auto;
    text-align: center;
}

.place button {
    padding: 16px 32px;
    border: 0;
    margin-top: 65px;
}

.place-description {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    padding-top: 100px;
}

span {
    color: #F00;
}

button {
    border-radius: 8px;
    background: #F00;
}
.offer{
    width: 1320px;
    height: 482px;
    border-radius: 16px;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
}
.offer-description1{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}
.offer-description2{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 25px;
}
.offer-description3{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
width: 393px;
line-height: 32px;
}
.offer-description4{
    color: #F00;
font-family: Inter;
font-size: 48px;
font-weight: 700;
margin-bottom: 25px;
}
.offer-description5{
    width: 276px;
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px;
}

.functional {
    width: 1320px;
    height: 875px;
    margin: 50px auto;
    text-align: center;
    background-image: url('../resources/Group\ 44.png'),url('../resources/Group\ 75.png'),url('../resources/Rectangle\ 2.png'),url('../resources/Rectangle\ 1.png');
    background-repeat: no-repeat;
    background-position: 730px 300px,left bottom,center bottom,right center;
}

.functional-title1 {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.functional-title2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

.functional-title3 {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    /* 160% */
}


.things {
    width: 1320px;
    margin: 50px auto;
    /* text-align: center; */
}

.thing-description1 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-align: left;
}

.thing-description2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}

.thing-description3 {
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

 .row {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.row2 {
    display: flex;
    gap: 10px;
} 
.newsletter {
    width: 1320px;
    height: 616px;
    text-align: center;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin: 50px auto;
}

.news-image {
    padding-top: 100px;
}

.newsletter-description1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 25px;

}

.newsletter-description2 {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 50px;
    width: 896px;
    margin: 0px auto;
    margin-bottom: 50px;
}

.newsletter-mail-input {
    display: flex;
    justify-content: center;

}

.newsletter-mail-input button {
    padding: 25px 30px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 150px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    border: 0;
}

.newsletter-input {
    padding: 25px 30px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    width: 300px;
    color: rgba(7, 2, 17, 0.30);
    text-align: left;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    border: 0;
}

.footer {
    width: 1600px;
    height: 609px;
    background: #070211;
    margin: 50px auto;
}

.footer-data {
    display: flex;
    justify-content: space-around;
    padding: 50px 120px;
}

.footer-data2 {
    display: flex;
    justify-content: space-around;
}

.footer-description1 {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    /* line-height: 40px; */
    width: 375px;
    height: 80px;
    margin-top: 70px;
}

.footer-description2 {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    margin-top: 70px;

}

.footer-icons {
    display: flex;
    gap: 35px;
    justify-content: center;
    margin: 50px auto;
    padding: 5px 150px;
}

hr {
    width: 1320px;
    height: 1px;
    margin: 0px auto;
}