

/* body {
    font-family: 'Merriweather', serif;
    margin: 50px 140px;
} */






















.footer-description {
    width: 375px;
    height: 80px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    /* 166.667% */
    padding: 120px 140px;
}

.footer-description2 {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;

}




